<div style="margin: 2rem 0 2rem 0;">

  <div style="margin-bottom: 12px; float: right;">
    <input type="text" placeholder="Search..." [ngModel]="searchTerm()" (ngModelChange)="onSearch($event)"
      aria-label="Search" style="padding: 4px; width: 200px;" data-testid="search-input" />
  </div>

  <table *ngIf="pagedData() && pagedData().length > 0; else noData">
    <thead>
      <tr>
        <th scope="col" *ngFor="let col of columns()">{{ col | uppercase }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of pagedData()">
        <td *ngFor="let col of columns()">
          <ng-container *ngIf="col !== 'ACTION'; else copyBtn">
            {{ row[col] }}
          </ng-container>
          <ng-template #copyBtn>
            <button type="button" (click)="copyRow(row)">{{ row[col] }}</button>
          </ng-template>
        </td>
      </tr>
    </tbody> 
  </table>
  <ng-template #noData>
    <p>No data available.</p>
  </ng-template>

  <!-- Pagination Controls -->
  <div *ngIf="totalPages() > 1" style="margin: 2rem 0; float: right;">
    <button type="button" (click)="goToPage(currentPage() - 1)" [disabled]="currentPage() === 1"
      aria-label="previous button" data-testid="prev-page-btn">Prev</button>
    <span> Page {{ currentPage() }} of {{ totalPages() }} </span>
    <button type="button" (click)="goToPage(currentPage() + 1)" [disabled]="currentPage() === totalPages()"
      aria-label="next button" data-testid="next-page-btn">Next</button>
  </div>

</div>