<div style="margin: 2rem 0 2rem 0;">

  <div style="margin-bottom: 12px; float: right;">
    <input type="text" placeholder="Search..." [ngModel]="searchTerm()" (ngModelChange)="onSearch($event)"
      style="padding: 4px; width: 200px;" />
  </div>

  <table *ngIf="pagedData() && pagedData().length">
    <thead>
      <tr>
        <th *ngFor="let col of columns()">{{ col | uppercase }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of pagedData()">
        <ng-container *ngFor="let col of columns()">
          <td *ngIf="col !== 'ACTION'">{{ row[col] }}</td>
          <td *ngIf="col === 'ACTION'">
            <button (click)="copyRow(row)">{{ row[col] }}</button>
          </td>
        </ng-container>
      </tr>
    </tbody>
  </table>
  <p *ngIf="!pagedData() || !pagedData().length">No data available.</p>

  <!-- Pagination Controls -->
  <div *ngIf="totalPages() > 1" style="margin: 2rem 0; float: right;">
    <button (click)="goToPage(currentPage() - 1)" [disabled]="currentPage() === 1">Prev</button>
    <span> Page {{ currentPage() }} of {{ totalPages() }} </span>
    <button (click)="goToPage(currentPage() + 1)" [disabled]="currentPage() === totalPages()">Next</button>
  </div>

</div>